/* home-grid (div around grid) */
    /* home-masonry  (masonry component) */
        /* home-pin-wrap  (pin container) */
            /* home-pin-img  (pin img) */
            /* home-pin-content  (TBA) */
            /* home-pin-button  (TBA) */

.home-grid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 20px;
}

.home-masonry {
    margin: 0 auto;
}

.home-pin-wrap {
    width: 240px;
    border-radius: 30px;
    padding: 5px 15px;
}

.home-pin-wrap {
    filter: drop-shadow(2px 8px 10px rgba(0, 0, 0, .3));
    transition: filter .3s ease-in-out;
    z-index: 1
}
.home-pin-wrap:hover {
    filter: drop-shadow(10px 20px 10px rgba(0, 0, 0, .5));
    z-index: 0;
}

.home-pin-img {
    width: 100%;
    border-radius: 30px;
}

.home-pin-img:hover {
    filter: brightness(0.6);
    cursor: zoom-in;
}

