.pin-create-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #efefef;
    height: 800px;
    width: 100%;
}

.pin-create-inner {
    padding: 20px 50px;
    width: 775px;
    height: 610px;
    display: flex;
    color: #858585;
    position: absolute;
    top: 50px;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
}

.pin-title-input {
    width: 80%;
    height: 43px;
    border: none;
    cursor: text;
    font-size: 36px;
    font-weight: bolder;
    outline: none;
    border-bottom: 1px solid #858585;
}

.fileuplder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filebrserip {
    display:none;
}
.file-label {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 340px;
    background-color: #efefef;
    border-radius: 12px;
    flex-direction: column;
    border: 2px dashed rgb(218, 218, 218);
    border-radius: 6px;
}

.upload-border {
    height: 484px;
    position: absolute;
    width: 374px;
    border-radius: 8px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-arrow-circle-up {
    font-size: 32px;
}

.pin-create-right {
    width: 40%;
    height: 100%;
    position: relative;
}

.pin-create-board-dropdown {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pin-create-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

