.pin-create-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #efefef;
    height: 800px;
    width: 100%;
}

.pin-create-inner {
    padding: 20px 50px;
    width: 775px;
    height: 610px;
    display: flex;
    color: #858585;
    position: absolute;
    top: 50px;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
}

.file-border-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.dropzone {
    width: 340px;
    height: 450px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.url-unselected, .url-selected {
    width: 364px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    background-color: #efefef;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    bottom: 13px;
    border-radius: 12px;
}

.url-selected {

}

.url-unselected {
    padding: 12px 14px;
    font-weight: bold;
}


.url-selected-input {
    width: 85%;
    height: 36px;
    background-color: white;
    border: 6px solid lightskyblue;
    padding: none;
    border-radius: 12px;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.url-selected-btn {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.file-border {
    height: 474px;
    width: 364px;
    background-color:#efefef;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.pin-title-input {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    height: 43px;
    border: none;
    cursor: text;
    font-size: 36px;
    font-weight: bolder;
    outline: none;
    border-bottom: 1px solid #858585;
}
.create-right-break {
    width: 100%;
    height: 200px;
}

.pin-desc-input {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    height: 43px;
    border: none;
    cursor: text;
    font-size: 21px;
    max-height: 280px;
    min-height: 40px;
    resize: none;
    outline: none;
    border-bottom: 1px solid #858585;
}

.fileuplder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgprvw{
    width:90%;
    height:90%;
}
.filebrserip {
    display:none;
}
.file-label {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 340px;
    background-color: #efefef;
    border-radius: 12px;
    flex-direction: column;
    border: 2px dashed rgb(218, 218, 218);
    border-radius: 6px;
    -webkit-font-smoothing: antialiased;
}

.board-down {
    padding-left: 5px;
    font-size: 18px;
    color: black;
}

.upload-border {
    height: 484px;
    position: absolute;
    width: 374px;
    border-radius: 8px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-arrow-circle-up {
    font-size: 32px;
}

.pin-create-right {
    width: 40%;
    height: 100%;
    position: relative;
}

.create-right-top {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: flex-end;
}

.pin-create-board-dropdown {
    width: 230px;
    display: flex;
    justify-content: space-between;
    background-color: #efefef;
    align-items: center;
    position: relative;
    padding-left: 20px;
    border-radius: 12px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.board-select-text{
    width: 80%;
}

.board-save-btn {
    display: flex;
    width: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    font-weight: bolder;
}

.board-drop-down {
    position: absolute;
    top: 70px;
    right: 48px;
    max-height: 300px;
    width: 300px;
    border-radius: 8px;
    z-index: 100;
    overflow: auto;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .18);
    outline: none;
}

.board-drop-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
    color: black;
    padding: 5px;
    text-align: left;
}

.board-drop-item:hover {
    background-color: #efefef;
    cursor: pointer;
}

.board-item-image {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #efefef;
}

.pin-create-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.create-pin-user-info {
    display: flex;
    align-items: center;
}

.create-prof-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.create-prof-name {
    color: #211922;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
}

.pin-link-input {
    margin-bottom: 25px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    height: 35px;
    border: none;
    cursor: text;
    font-size: 21px;
    outline: none;
    border-bottom: 1px solid #858585;
}

.scrape-image {
    width: 236px;
    object-fit: cover;
    margin: 15px;
    border-radius: 30px;
}

.scrape-masonry {
    margin: 0 auto;
    width: 100% !important;
    height: 80% !important;
    padding: 20px;
}

.scrape-page {
    height: 800px;
    width: 100%;
    display: flex;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.scrape-contatiner {
    background-color: white;
    border-radius: 30px;
    width: 80%;
}

.scrape-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.scrape-top-right {
    padding-left: 25px;
    font-size: 21px;
    color: #333;
    letter-spacing: -.4px;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
}

.scrape-top-left {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.scrape-cancel, .scrape-add-en, .scrape-add-dis {
    color: #333;
    background-color: #efefef;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 45px;
    font-weight: bolder;
    letter-spacing: -.4px;
    -webkit-font-smoothing: antialiased;
    border: none;
}

.scrape-cancel:hover, .scrape-add-en:hover {
    filter: brightness(0.8);
    cursor: pointer;
    border: none;
}

.scrape-cancel {
    width: 80px;
}

.scrape-add-en, .scrape-add-dis {
    width: 110px;
}

.scrape-add-en {
    background-color: #e60023;
}

.scrape-add-dis {
    color: #8e8e8e;
}