.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  width: 100%;
  height: 56px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  align-items: center;
}

.NavBar button {
  height: 20px;
}
.Navbar-logo {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background: rgb(240, 9, 9);
  color: white;
  display: flex;
  /* align-items: center; */
  font-size: 25px;
  justify-content: center;
  font-family: "Lobster Two", cursive;
  margin: 0px 0px;
  text-decoration: none;
  z-index: 1;
  /* align-self: center; */
}
.Navbar-icon-halo:hover {
  background: rgb(0, 0, 9, 0.1);
}
.Navbar-icon-halo {
  display: flex;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 4px 4px;
  /* background: rgb(0, 0, 0, 0); */
  justify-content: center;
  /* align-items: center; */
  margin: 0px 0px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  /* align-self: center; */
}
.Links1 {
  width: 60%;
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  color: #8e8e8e;
  font-weight: bold;
  border-radius: 999px;
  align-items: center;
  padding: 10px;
  /* align-content: center; */
  justify-content: center;
}

.Links2 {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #8e8e8e;
  display: block;
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  outline: none;
}
.fa-search {
  background: #efefef;
  padding: 13px 8px;
  color: #8e8e8e;
  border-bottom-left-radius: 999px;
  border-top-left-radius: 999px;
  justify-content: right;
  /* padding-right: 16px; */
}
.Searchbar {
  height: 40px;
  background: #efefef;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-bottom-right-radius: 999px;
  border-top-right-radius: 999px;
}
.SearchGrp {
  display: flex;
  align-content: center;
  align-items: center;
  width: 50%;
}
.PlusSign {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background: rgb(240, 9, 9);
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  /* align-self: center; */
  font-size: 35px;
  justify-content: center;
  /* font-family: "Lobster Two", cursive; */
  /* margin: 10px 0px; */
  text-decoration: none;
}

.Ellipses {
  font-weight: bold;
}

.RightIcons {
  display: flex;
  width: 220px;
  height: 56px;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  align-items: center;
}

.task_select {
  display: flex;
  width: 30%;
  border: solid 1px black;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.UserTasks {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 322px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  outline: none;
  background: white;
  overflow-y: auto;
  top: 12px;
  left: 1047px;
}

.UserTasksItems {
  padding: 8px 16px;
  margin: -4px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  width: 328px;
  height: 42px;
}

.ProfileDropdown {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 322px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  outline: none;
  background: white;
  overflow-y: auto;
  top: 12px;
  left: 1047px;
}

.ProfileIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.Links1:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.Profile {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}
