.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-child {
  background: white;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup_step_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  width: 440px;
}
.signup_step_1_form {
  height: 600px;
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-background input {
  height: 40px;
  width: 70%;
}
