.pin-show-outer {
  display: flex;
  justify-content: center;
  height: 800px;
  background-color: #efefef;
}

.pin_show_image_wrapper {
  position: relative;
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #efefef;
}

.pin-show-left,
.pin-show-right {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.pin-show-right {
  border-radius: 0 0 12px 0;
  padding: 40px 40px 40px 0;
  width: 450px;
  height: 600px;
}

.pin-show-image {
  border-radius: 12px;
}

.pin-show-left {
  border-radius: 0 0 0 12px;
  padding: 40px 0 40px 40px;
  width: 450px;
  height: 600px;
}

.pin-show-link {
  display: none;
}
.pin-atag {
  position: relative;
}

.pin-atag:hover .pin-show-link {
  position: absolute;
  top: 50%;
  display: flex;
  z-index: 3;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: bold;
}

.pin-atag:hover .pin-show-image {
  filter: brightness(0.6);
}

.pin-show-save:hover {
  filter: brightness(0.6);
  cursor: pointer;
  z-index: 100;
}

.pin-show-save {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 25px;
  color: white;
  height: 40px;
  width: 80px;
  padding: 10px 14px;
  background-color: #e60023;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 8px;
}

.pin-show-info {
  display: flex;
  flex-direction: column;
}

.pin-show-title {
  font-size: 24px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.pin-show-desc {
  font-size: 18px;
}

.pin_stick_bar {
  position: sticky;
  top: 65px;
  z-index: 3;
  width: 900px;
  background-color: white;
  border-radius: 8px 8px 0 0;
  height: 70px;
}

.pin-show-bottom {
  display: flex;
  width: 900px;
}