.prfnav {
  width: 100%;
  height: 72px;
  background: rgba(255, 255, 255, .97);
  display: flex;
  top: 65px;
  justify-content: center;
  position: fixed;
}

.profile-head-link:visited {
  color: black;
}

.create-dropdown {
  height: 86px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 5px;
  justify-content: space-evenly;
  width: 232px;
  border-radius: 8px;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
  outline: none;
}
.create-btn:hover {
  background-color: #efefef;
  color: black;
  cursor: pointer;
  width: 100%;
  height: 50%;
}

.create-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
}

.profile-head-link {
  text-decoration: none;
}
.social-icon-wrap {
  height: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 5px;
  justify-content: space-evenly;
  width: 232px;
  border-radius: 8px;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
  outline: none;
}
.social-icon-text {
  width: 100%;
  justify-content: center;
  display: flex;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fab {
  padding: 10px;
}

.fab:hover {
  cursor: pointer;
}

.fa-facebook {
  color: #4267b2;
  font-size: 32px;
}

.fa-twitter {
  color: #1da1f2;
  font-size: 32px;
}

.fa-whatsapp {
  text-align: center;
  background-color: #4fce5d;
  border-radius: 50%;
  font-size: 26px;
  color: white;
  width: 26px;
  padding: 5px;
  margin-right: 5px;
}

.prftopnav {
  display: flex;
  align-items: center;
  width: 780px;
  position: relative;
}
.prfbox {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
.prfinnerbox {
  width: 740px;
  height: 170px;
  margin-top: 70px;
}

.prfprfpho {
  margin-left: 46px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
}

.prftopnav > .fas,
.prficon {
  width: 45px;
  height: 45px;
  color: #8e8e8e;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.prftopnav > .fas:hover,
.prficon:hover {
  background-color: #efefef;
  border-radius: 50%;
}

.prfsmlbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.dispname {
  font-size: 36px;
  font-weight: 900;
}

.follownums {
  font-size: 14px;
  font-weight: 900;
  padding-left: 8px;
}
.prfnavv2 {
  height: 40px;
  align-items: center;
  display: flex;
}
.prfnavv2lft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  color: #8e8e8e;
  font-size: 16px;
  width: 48px;
  text-decoration: none;
  font-weight: 1200;
  margin-left: 8px;
  height: 24px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links:hover {
  border-radius: 999px;
  background-color: #efefef;
  color: black;
  text-decoration: underline;
}

.message_and_follow_buttons {
  margin-bottom: 10px;
}
.message_button {
  margin-right: 13px;
  background-color: #333;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  align-content: center;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

